[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
requests = "*"
beautifulsoup4 = "*"
flask-mysql = "*"
python-crontab = "*"
apscheduler = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
migrate = "*"
sqlalchemy-migrate = "*"

[dev-packages]

[requires]
python_version = "3.7"
